PORT=3001
CONTACT_TO=enigma.codebusters@gmail.com
GMAIL_USER=enigma.codebusters@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password_here
ALLOWED_ORIGINS=https://finding-aries.github.io,http://localhost:8080,http://127.0.0.1:8080
